<%= form_with model: [ @blog, @blog.comments.build ] do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit "Add Comment" %>
  </p>
<% end %>